<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cat">
      <h2 data-cy="catDetailsHeading"><span jhiTranslate="archiLogicielApp.cat.detail.title">Cat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cat.id }}</span>
        </dd>
        <dt><span jhiTranslate="archiLogicielApp.cat.name">Name</span></dt>
        <dd>
          <span>{{ cat.name }}</span>
        </dd>
        <dt><span jhiTranslate="archiLogicielApp.cat.race">Race</span></dt>
        <dd>
          <span>{{ cat.race }}</span>
        </dd>
        <dt><span jhiTranslate="archiLogicielApp.cat.age">Age</span></dt>
        <dd>
          <span>{{ cat.age }}</span>
        </dd>
        <dt><span jhiTranslate="archiLogicielApp.cat.healtStatus">Healt Status</span></dt>
        <dd>
          <span>{{ cat.healtStatus }}</span>
        </dd>
        <dt><span jhiTranslate="archiLogicielApp.cat.veterinary">Veterinary</span></dt>
        <dd>
          <div *ngIf="cat.veterinary">
            <a [routerLink]="['/veterinary', cat.veterinary.id, 'view']">{{ cat.veterinary.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="archiLogicielApp.cat.owner">Owner</span></dt>
        <dd>
          <div *ngIf="cat.owner">
            <a [routerLink]="['/owner', cat.owner.id, 'view']">{{ cat.owner.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cat', cat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
